{% extends "../base.html" %}
{% block title %}Inverters{% endblock %}
{% block content %}
<ul  class="list-group  list-group-numbered">
{% for inverterval in invertervalues %}
    <div class="card">
        <div class="card-body">
        <ul  class="list-group  list-group-flush">
            <li class="list-group-item card-title"> <h3>{{inverterval.inverter.name}}</h3></li>
            <li class="list-group-item"> {{inverterval.InverterFrequency}}</li>
            <li class="list-group-item"> {{inverterval.OutputFrequency}}</li>
        </ul>
      </div>
    </div>
{% endfor %}
</ul >
{% endblock content %}