{% extends "./base.html" %}





{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>

   <form style="width:40%;height:40%;background-color:#A495F5" name = "form" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:70%;">
            <center> 
               <input type = "text" style = "width:80%;" 
                  placeholder = "Username" name = "username" required />
            </center>
         </div>
            
         <br>
         
         <div style = "max-width:70%;">
            <center>
               <input type = "password" style = "width:80%;" 
                  placeholder = "Password" name = "password" required/>
            </center>
         </div>
            
         <br>
         {% if login == "wrong" %}
         <span style="color:#FF0000;">Wrong password</span>
         <br>
         {% endif %}
         <div style = "max-width:70%;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;" type = "submit" 
                  value = "Login" >
                  <strong>Login</strong>
               </button>
               
            </center>
         </div>
         
      </form>  
{% endblock %}