<!DOCTYPE html>
<html>

<head>
    <title>Home Station </title>
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png"/>
    
    
    {% load static %} 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <style type="text/css">
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
</style>
</head>

<body style="text-align:center;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 Web Video Player
</nav>
    <!--<div style="margin-left:40%;">-->
    <center>
   
    <form style="width:40%;height:40%;background-color:#A495F5" name = "form" action = "logout" >{% csrf_token %}
         <div style = "max-width:70%;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;" type = "submit" 
                  value = "Logout" >
                  <strong>Logout</strong>
               </button>
               
            </center>
         </div>
         
      </form> 
       </center>
    </div>
    

<GaugeChart id="gauge-chart5"
  nrOfLevels={420}
  arcsLength={[0.3, 0.5, 0.2]}
  colors={['#5BE12C', '#F5CD19', '#EA4228']}
  percent={0.37}
  arcPadding={0.02}
/>
     <div id="app" ></div>
    <div id="app1" style="background-color:#A495F5" ></div>
    
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>
